%flex-default {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

%flex-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

%flex-space-between {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

%flex-space-around {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
