$border-radius: 6px;

$font-color: rgba(0, 0, 0, 0.8);

// color
$white: #fff;
$dark: #152229;
$gray: #ccc;
$black: #000;
$link: #3A6ABC;
$processing: #62c6af;
$success: #67c23a;
$cancel: #c1c1c1;
$danger: #ff5e5e;

$gray-white: #F3F3F3;

$header-height: 56px;

// font weight
$fw-regular: normal;
$fw-medium: 500;
$fw-bold: 600;

// font size
$fs-40: 2.5rem;
$fs-32: 2rem;
$fs-30: 1.875rem;
$fs-25: 1.45rem;
$fs-22: 1.375rem;
$fs-20: 1.25rem;
$fs-19: 1.187rem;
$fs-18: 1.125rem;
$fs-17: 1.062rem;
$fs-16: 1rem;
$fs-15: 0.935rem;
$fs-14: 0.875rem;
$fs-13: 0.812rem;
$fs-12: 0.75rem;

// spacing
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
